body {
	background-color: #caefd7;
	color: #570861;
	touch-action: manipulation;
}
footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
}
.full {
	height: 100vh;
	font-size: 120px;
}
.preset {
	font-size: 40px;
	outline: #570861 solid medium !important;
}
.btn {
	background-color: #570861;
	color: #caefd7;
}
.rounded-circle {
	width: 80px;
	height: 80px;
	margin-bottom: 18px;
	outline: #570861 solid thick !important;
}
.done {
	-webkit-animation: end 2s infinite alternate;
	-moz-animation: end 2s infinite alternate;
	-ms-animation: end 2s infinite alternate;
	-o-animation: end 2s infinite alternate;
	animation: end 2s infinite alternate;
}
.btn-done {
	-webkit-animation: btn-end 2s infinite alternate;
	-moz-animation: btn-end 2s infinite alternate;
	-ms-animation: btn-end 2s infinite alternate;
	-o-animation: btn-end 2s infinite alternate;
	animation: btn-end 2s infinite alternate;
}
.btn:hover {
	background-color: #570861;
	color: #caefd7;
}
.btn:active {
	color: #570861 !important;
}
@keyframes end {
	from { background: #f5bfd7; }
	to { background: #ff5349; }
}
@keyframes btn-end {
	from { color: #f5bfd7; }
	to { color: #ff5349; }
}